<mat-card>
  <mat-card-header>
    <mat-card-title>Carrinho de Compras</mat-card-title>
    <mat-card-subtitle>Valor total: <strong>R$ 254,00</strong></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <mat-list>
      <mat-list-item *ngFor="let product of products">
        <img matListAvatar src="../../../assets/img/notebook.jpg">
        <h3 matLine> {{product.product}} </h3>
        <p matLine>
          <span>R$ {{product.value}} </span>
        </p>
      </mat-list-item>
    </mat-list>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="btn-cart">Ver minha cesta</button>
    <button mat-raised-button color="accent" class="btn-cart">Fechar pedido</button>
  </mat-card-actions>
</mat-card>