/* For use in src/lib/core/theming/_palette.scss */
$mystore-palette0: (
    50 : #ece2e9,
    100 : #ceb7c8,
    200 : #ae88a4,
    300 : #8e5880,
    400 : #753464,
    500 : #5d1049,
    600 : #550e42,
    700 : #4b0c39,
    800 : #410931,
    900 : #300521,
    A100 : #ff6ac2,
    A200 : #ff37ad,
    A400 : #ff0498,
    A700 : #e9008a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

