$mystore-palette1: (
    50 : #fce1e5,
    100 : #f7b4be,
    200 : #f18292,
    300 : #eb4f66,
    400 : #e72a46,
    500 : #e30425,
    600 : #e00321,
    700 : #dc031b,
    800 : #d80216,
    900 : #d0010d,
    A100 : #fff8f8,
    A200 : #ffc5c7,
    A400 : #ff9295,
    A700 : #ff797c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

