$mystore-palette-warn: (
    50 : #fce7ea,
    100 : #f7c4c9,
    200 : #f29da6,
    300 : #ec7582,
    400 : #e85867,
    500 : #e43a4c,
    600 : #e13445,
    700 : #dd2c3c,
    800 : #d92533,
    900 : #d11824,
    A100 : #ffffff,
    A200 : #ffd1d3,
    A400 : #ff9ea3,
    A700 : #ff858a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

